@def borderColor #D6D6D6;
@def borderColorLight orange;
@def backgroundColorLight #ffffff;

.border {
  border: 1px solid borderColor !important; 
}

.borderLeft {
  border: none;
  border-left: 1px solid borderColor !important; 
}

.borderRight {
  border: none;
  border-right: 1px solid borderColor !important; 
}

.borderTop {
  border: none;
  border-top: 1px solid borderColor !important; 
}

.borderBottom {
  border: none;
  border-bottom: 1px solid borderColor !important; 
}