.over {
  background-color: #eee;
}

.drop {
  background-color: #defadc;
}

.selected {
  background-color: #d9e8fb !important;
}

.text {
  font: normal 11px arial, tahoma, helvetica, sans-serif;
  color: black;
}
