.dragGhost {
  color: #000;
  font: normal 11px arial, helvetica, sans-serif;
  border-color: #ddd #bbb #bbb #ddd;
  background-color: #fff;
}

@sprite .dropDisallowed .dropIcon {
  gwt-image: "dropDisallowed";
}

@sprite .dropAllowed .dropIcon {
  gwt-image: "dropAllowed";
}
